html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    position: relative;
}

#map {
    bottom: 0px;
    height: 100%;
    left: 0px;
    position: absolute;
    right: 0px;
}

#item-list {
    margin-top: 45px;
    margin-left: 40px
}